/**
 * @var {Number}
 * size of the checkbox in "tri" state.
 */
$tree-checkbox-intermediate-position: dynamic(42px);
$tree-checkbox-checked-position: dynamic(20px);
$tree-checkbox-size: dynamic(20px);
