/**
 * @var {Number}
 * size of the checkbox in "tri" state.
 */
$tree-checkbox-intermediate-position: dynamic(40px);
$tree-checkbox-checked-position: dynamic(21px);
$tree-checkbox-size: dynamic(22px);
