.#{$prefix}signature-canvas {
    border: 1px solid $signature-canvas-border-color;
    display: block;
    width: 100%;
    height: 100%;

    .#{$prefix}disabled & {
        opacity: 0.5;
        pointer-events: none;
        cursor: pointer;
    }
}
